:root {
  --mainBrown: rgb(45, 30, 241);
  --mainYellow: rgb(255, 158, 9);
  --mainGrey: rgb(236, 232, 220);
  --mainWhite: rgb(255, 255, 255);
  --mainDark: rgb(34, 34, 34);
}

body {
  background-color: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: cursive;
  letter-spacing: 0.25rem !important;
  font-style: oblique;
}

.text-yellow {
  color: var(--mainYellow);
}

.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}

.default-background,
.about-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: rgba(255, 158, 9, 0.5);
  justify-content: center;
  opacity: 1 !important;
}

.about-background {
  min-height: 60vh;
}

.btn-yellow {
  color: var(--mainYellow) !important;
  border-color: var(--mainYellow) !important;
}
.btn-yellow:hover {
  color: var(--mainWhite) !important;
  background-color: var(--mainYellow);
}

.footer {
  background: var(--mainDark);
}

.menu,
.contact {
  background: var(--mainGrey);
}
